# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.

include /usr/share/nginx/modules/*.conf;
load_module modules/ngx_http_vhost_traffic_status_module.so;

events {
    worker_connections 1024;
    multi_accept on; 
    debug_connection localhost;

}

http {
    vhost_traffic_status_zone;
    server_tokens off;

    include      mime.types;
    default_type text/html;
    charset      utf-8;
    ## Upstream websocket    
    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    ## config log
    log_subrequest on;
    log_format main
      '${time_local}\t${remote_addr}\t${host}\t${request_method}\t${request_uri}\t${server_protocol}\t'
      '${http_referer}\t${http_x_mobile_group}\t'
      'Local:\t${status}\t*${connection}\t${body_bytes_sent}\t${request_time}\t'
      'Proxy:\t${upstream_addr}\t${upstream_status}\t${upstream_cache_status}\t'
      '${upstream_response_length}\t${upstream_response_time}\t${uri}\t'
      'Agent:\t${http_user_agent}\t'
      'Fwd:\t${http_x_forwarded_for}\t'
      'Fwd-Proto:\t${http_x_forwarded_proto}'
      ;

    log_format mainJSON escape=json '{'
    '"@timestamp":"$time_iso8601",'
    '"@version":"1",'
    '"host":"$hostname",'
    '"short_message":"This log was generated by Nginx",'
    '"vhost":"$host",'
    '"remote_addr":"$remote_addr",'
    '"remote_port":"$remote_port",'
    '"request_method":"$request_method",'
    '"request_uri":"$request_uri",'
    '"server_protocol":"$server_protocol",'
    '"http_referer":"$http_referer",'
    '"http_x_mobile_group":"$http_x_mobile_group",'
    '"status":"$status",'
    '"connection":"$connection",'
    '"body_bytes_sent":"$body_bytes_sent",'
    '"request_time":"$request_time",'
    '"uri":"$uri",'
    '"http_user_agent":"$http_user_agent" '
  '}';

    #access_log syslog:server=<loggin_url>:5140,facility=local6,tag=syslog2gelf mainJSON;
    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   60s;
    types_hash_max_size 4096;
    keepalive_requests  1000;

    ## diretivas de proxy
    proxy_buffers               32 4k;
    proxy_connect_timeout       5s;     # Se demorar mais que isso pode haver problema na rede
    proxy_send_timeout          9s;     # Este tempo é entre o nginx e seu cliente direto, não deveria ser grande.
    proxy_read_timeout          36600s;    # Se o BE não responder, morre logo, e entrega stale.
    proxy_ignore_client_abort   on; ## mesmo que ocorrar um abord, ira cachear o resultado

    gzip                        on;
    gzip_buffers                128 4k;
    gzip_comp_level             5;
    gzip_http_version           1.0;
    gzip_min_length             256;
    gzip_proxied                any;
    # Additional types, "text/html" is always compressed:
    gzip_types                  application/atom+xml application/javascript
                                application/json application/rss+xml
                                application/xml application/x-javascript
                                text/css text/javascript text/plain text/xml;


    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       80;
        listen       [::]:80;
        server_name  _ ;
        root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        error_page 404 /404.html;
        location = /404.html {
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }

    }
}